/*Config Gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.largura{
    max-width: 1024px;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*Configurações do site mobile first*/

    /*Topo da pagina*/
    header{
        background-color: #00cad1;
        
        text-align: center;

        height: 25vh;
    }

    header div, nav{
        margin: auto;
    }

    header nav{
        border-top: 1px solid rgb(194, 194, 194);

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
        padding: 5px 0;
        width: 240px;
    }

    header nav a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
        
        letter-spacing: 0.5px;
    }

    /*Configurações do conteudo principal*/

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    section{
        margin: 20px 0;
    }

    .info-topo{
        text-align: center;

    }

    .info-topo h1{
        color: rgb(48, 48, 48);

        margin-top: 20px;
    }

    .info-topo a{
        text-decoration: none;

        color: rgb(48, 48, 48);
        padding: 2px;
        margin: 5px;
        border-bottom: 1px solid #00cad1 ;
    }

    .info-especialidades div:first-child{
        text-align: center;
    }

    .info-especialidades div:first-child h2{
        color: rgb(48, 48, 48);
        font-size: 28px;
    }

    .info-especialidades div:first-child p{
        color: gray;
        font-size: 18px;
    }
    
    .info-especialidades div{
        margin: 30px 0;
    }

    .info-especialidades div:last-child{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .info-especialidades div:last-child img{
        height: 250px;
        width: 350px;
    }
   
    .info-especialidades div:last-child table{
        height: 250px;
        width: 100%;
        text-align: left;
        border-spacing: 0;
    }
    
    .info-especialidades div:last-child table thead{
        background-color: #00cad1;
    }

    .info-especialidades div:last-child table th{
        color: white;
        background-color: #00cad1;
        padding: 10px;
    }

    .info-especialidades div:last-child table th, table td{
        padding: 10px;
    }

    .info-especialidades div:last-child tbody tr:nth-child(odd){
        background-color: gray;
    }

    .info-especialidades div:last-child tbody tr:nth-child(odd){
        background-color: gainsboro;
    }

    /*Rodapé da pagina*/

    footer{
        background-color: #00cad1;
        line-height: 35px;
        text-align: center;

        padding: 20px;
    }

@media only screen and (max-width: 719px){    
    body p{
        margin: 0 10px;
    }
    .info-especialidades figure img{
        display: none;
    }

    .info-especialidades table{
        margin: 20px;
    }

    .topo nav a{
        padding: 5px;
        margin-top: 5px; 
    }

    
}

/*Configurações do site para telas maiores*/

    @media only screen and (min-width: 720px) {
        .topo{
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: auto;
            height: 100%;
        }

        .topo div, nav{
            margin: auto 0;
        }

        .topo nav{
            display: flex;
            align-items: center;
            justify-content: space-between;

            border: none;
        }

        .topo nav a{
            font-size: 18px;
            padding: 5px;
            margin: 0 10px;
        }
    }
